

@media (max-width: 1920px) {
    .search-line {
        bottom: 76px;
    }
}

@media (max-width: 1360px) {
    .search-line {
        bottom: -365px;
    }
}

@media (max-width: 1200px) {
    .search-line {
        bottom: -365px;
    }
}

@media (max-width: 900px) {
    .search-line {
        bottom: -465px;
    }

}